#define MANIFEST 24
#define IDI_MAINICON 129
#define IDR_XPMANIFEST1 1
#define IDD_MAIN 1000
#define IDC_PID1 1002
#define IDC_PID2 1003
#define IDC_GET 1004
#define IDC_WND2 1005
#define IDC_LOAD 1006
#define IDC_WND1 1007
#define IDC_LOG 1008

LANGUAGE 4,2

IDI_MAINICON ICON DISCARDABLE "res/icon.ico"

IDR_XPMANIFEST1 MANIFEST "res/xpmanifest.xml"

IDD_MAIN DIALOGEX -4,-16,180,128
CAPTION "EWND"
FONT 9,"宋体",400,0,0
STYLE 0x10CA0840
BEGIN
  CONTROL "PID",IDC_PID1,"Static",0x50000201,5,5,20,15
  CONTROL "",IDC_PID2,"Edit",0x50010001,25,5,50,15,0x00000200
  CONTROL "获取",IDC_GET,"Button",0x50010000,25,25,50,15
  CONTROL "",IDC_WND2,"Edit",0x50010001,125,5,50,15,0x00000200
  CONTROL "测试载入",IDC_LOAD,"Button",0x50010000,125,25,50,15
  CONTROL "测试窗口",IDC_WND1,"Static",0x50000201,90,5,35,15
  CONTROL "",IDC_LOG,"Edit",0x50210844,5,45,170,80,0x00000200
END

